

.pagination__container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination__container > button{
    height: 30px;
    padding: 5px 10px;
    margin: 0px 10px;
    border: none;
    outline: none;
    background-color: #7c5df7;
    color: white;
}


.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
.each__btn{
    width: 20px;
    height: 20px;
    margin-right: 20px;
    border-radius: 100%;
    font-size: 14px;
    cursor: pointer;
    /* background-color: red; */
    text-align: center;
}
.pagination__bg{
    color: white;
    background-color:  #7c5df7;
}