.detail {
    /* width: 320px; */
    background-color: #e5e6fd5d;
    padding: 10px 15px;
    font-size: 12px;
    /* margin-bottom: 20px; */
  }
  
  /* Header Section */
  .header__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .left__part {
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .name__circle {
    background-color: #7c5df7;
    padding: 8px;
    border-radius: 100%;
    margin-right: 5px;
    color: white;
    /* width: 30px; */
  }
  .name__gender > .full__name {
    font-weight: 500;
  }
  .full__name {
    font-size: smaller;
  }
  span#username {
    font-size: 8px;
  }
  .name__gender {
    color: #7c5df7;
    font-weight: 500;
  }
  .gender {
    font-size: smaller;
    opacity: 0.9;
    font-weight: 300;
  }
  .dot {
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: rgb(150, 148, 148);
    margin-bottom: 2px;
  }
  
  /* Payment Section */
  .payment__section {
    display: flex;
    flex-direction: column;
  }
  
  .payment__header,
  .contact__header {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 5px;
  }
  .payment__info,
  .contact__lists {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    justify-content: space-between;
  }
  .payment__info {
    grid-template-columns: 2fr 1fr;
  }
  
  .contact__section {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
  @media screen and (max-width: 524px) {
    .payment__info > .subject:nth-child(even),
    .contact__lists > .subject:nth-child(even) {
      justify-self: flex-end;
    }
  }
  