* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.profiles {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-gap: 15px;
}

@media screen and (max-width: 613px) {
  .profiles {
    grid-gap: 5px;
  }
}
